* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)), url('backgroundHotel.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding-left: 50px;
    margin-left: 200px;
}

.admin {
    padding-left: 20px;
    display: flex;
}

    .admin h1 {
        color: #f5f5dc;
        font-family: Arial;
        font-size: 2.5em;
        margin-top: 30px;
    }


    .admin .logout-btn {
        width: 130px;
        height: 50px;
        border: 2px solid #f5f5dc;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.1em;
        color: #f5f5dc;
        text-align: center;
        transition: .5s;
        margin-top: 25px;
        margin-left: 1100px;
        font-family: Arial;
        line-height: 50px;
        text-decoration: none;
        position: absolute;
    }

        .admin .logout-btn:hover {
            background: #f5f5dc;
            color: #6e2300;
        }


.menu {
    position: fixed;
    height: 100%;
    width: 220px;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    padding: 20px;
    border-right: 2px solid rgba(255,255,255, .5);
    top: 0;
    left: 0;
}



    .menu h1 {
        color: #f5f5dc;
        font-family: Arial;
        padding-left: 20px;
    }

.navigation-menu {
    padding: 20px;
    height: 305px;
    width: 180px;
}

    .navigation-menu .all-reservations-btn {
        width: 100%;
        height: 40px;
        display: block;
        align-items: center;
        margin-bottom: 25px;
        background: transparent;
        border: 2px solid #f5f5dc;
        outline: none;
        border-radius: 11px;
        cursor: pointer;
        font-size: 1.1em;
        color: #f5f5dc;
        transition: .5s;
    }

        .navigation-menu .all-reservations-btn:hover {
            background: #f5f5dc;
            color: #6e2300;
        }


    .navigation-menu .add-admin-btn {
        width: 100%;
        height: 40px;
        display: block;
        align-items: center;
        margin-bottom: 25px;
        background: transparent;
        border: 2px solid #f5f5dc;
        outline: none;
        border-radius: 11px;
        cursor: pointer;
        font-size: 1.1em;
        color: #f5f5dc;
        transition: .5s;
    }

        .navigation-menu .add-admin-btn:hover {
            background: #f5f5dc;
            color: #6e2300;
        }

.all-reservations {
    position: absolute;
    margin-top: 150px;
    margin-left: 270px;
    top: 0;
    left: 0;
    width: 1125px;
    height: 560px;
    border: 2px solid #f5f5dc;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.all-reservations.active {
    transform: scale(1);
}

.all-reservations .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #f5f5dc;
    font-size: 2em;
    color: #6e2300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 16px;
    cursor: pointer;
    z-index: 1;
}



.add-admin {
    position: absolute;
    top:0;
    left:0;
    margin-top: 150px;
    margin-left: 270px;
    width: 800px;
    height: 400px;
    border: 2px solid #f5f5dc;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
}

    .add-admin.active {
        transform: scale(1);
    }

    .add-admin .icon-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #f5f5dc;
        font-size: 2em;
        color: #6e2300;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 16px;
        cursor: pointer;
        z-index: 1;
    }

.table {
    position: absolute;
    width: 100%;
    background-color: #f5f5dc;
}

.table-body {
    overflow-y: scroll;
    max-height: calc(100% - 45px);
    height: 515px;
}

.row-header {
    height: 45px;
    overflow: hidden;
}

.row-header,
.row {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.cell {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.row-header .cell {
    font-weight: bold;
    background-color: #6e2300;
    font-family: Arial;
    font-size: 0.78em;
    color: #f5f5dc;
}

.row:hover {
    background-color: #ddd;
}

::-webkit-scrollbar {
    width: 0.70em;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #7d8594;
    border-radius: 6px;
}



.add-btn, .remove-btn {
    background: #f5f5dc;
    color: #6e2300;
    border: none;
    height: 35px;
    font-size: 16px;
    font-family: Arial;
    border-radius: 6px;
    transition: .7s;
}


.add-btn:hover {
    background: #6e2300;
    color: #f5f5dc;
}

.remove-btn:hover {
    background: #6e2300;
    color: #f5f5dc;
}

.add-admin-success-message {
    color: rgb(1, 101, 1);
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    transition: opacity 5s ease-in-out, visibility 5s ease-in-out;
    position: absolute;
    top:0;
    margin-top:90px;
    margin-left: 220px;
    text-align: center;
    width: 550px;
    background-color: rgb(115, 255, 0);
    border-radius: 3px;
}

.remove-admin-success-message {
    color: rgb(1, 101, 1);
    font-weight: bold;
    opacity: 1;
    visibility: visible;
    transition: opacity 5s ease-in-out, visibility 5s ease-in-out;
    position: absolute;
    top: 0;
    margin-top: 90px;
    margin-left: 220px;
    text-align: center;
    width: 225px;
    background-color: rgb(115, 255, 0);
    border-radius: 3px;
}
