
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutAbout.cshtml";
}



<header>

    <nav class="navigation">

        <a href="/Account/Home">Home</a>
        <a href="/Account/About">About</a>
        <a href="/Account/Contact">Contact</a>

    </nav>

</header>