
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutContact.cshtml";
}



<header>

    <nav class="navigation">

        <a href="/Account/Home">Home</a>
        <a href="/Account/About">About</a>
        <a href="/Account/Contact">Contact</a>

    </nav>

</header>

<div class="text">
    <p>For more informations contact us on: <a href="mailto:hotelbookingsystem@gmail.com">hotelbookingsystem@gmail.com</a></p>
</div>
